html, body{
    background-color: rgb(34, 34, 36);
    user-select: none;
    -webkit-user-drag: none;
}
canvas{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(34, 34, 36);
    width: 600px;
    height: 600px;
}
.canvas-container{
    position: relative;
}
#fps{
    z-index: 100px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.button-container{
    max-width: 600px;
    min-width: 600px;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

::-webkit-scrollbar {
    width: 5px !important;
}
::-webkit-scrollbar-track {
    background: transparent;
    width: 5px !important;
}
::-webkit-scrollbar-thumb {
    background: rgb(79, 79, 84);
    border-radius: 10px;
    width: 5px !important;

}

.button-container button{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(34, 34, 36);
    color: white;
    font-size: 20pt;
    margin-right: 10px;
    border-radius: 10px;
}

#github{
    color: white;
    display: flex;
    justify-content: center;
    width: fit-content;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 4px;
    position:fixed;
    bottom: 5px;
    right: 5px;

}
#github p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 5px;
    margin-bottom: 2px;
}
#github img{
    filter: invert();
    max-width: 30px;
    max-height: 30px;
}

@media (max-width: 619px){
    .button-container button{
        font-size: 25pt;
        margin-right: 10px;
        border-radius: 10px;
    }
    .button-container{
        min-width: 0px;
        max-width: 98%;
    }
    canvas{
        width: 95%;
        height: auto;
        aspect-ratio: 1/1 !important;
    }
    html, body{
        width: 100%;
    }
}